{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% load account %}

{% block title %}
تایید ایمیل
{% endblock title %}


{% block content %}
<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					{% include 'account/_messages.html' %}
					<h1>تایید ایمیل</h1>
					{% if confirmation %}

					{% user_display confirmation.email_address.user as user_display %}
					{% confirmation.email_address.email as email %}
					<p>آیا آدرس ایمیل <a href="mailto:{{ email }}">{{ email }}</a> را برای کاربر {{ user_display }} تایید میکنید؟ </p>
					<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
					{% csrf_token %}
						<button class="btn btn-success" type="submit">تایید</button>
					</form>

					{% else %}

					{% url 'account_email' as email_url %}
					<p>این لینک آدرس تاییدیه ایمیل منقضی شده است. لطفا از طریق این <a href="{{ email_url }}">لینک</a> درخواست تاییدیه ایمیل جدیدی را صادر کنید.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}