{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
خارج شدن
{% endblock title %}


{% block content %}
<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		{% include 'account/_messages.html' %}
		{% include 'account/_non_field_errors.html' %}
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					<form method="post" action="{% url 'account_logout' %}">
						{% csrf_token %}
						<p>آیا واقعا میخواهید از حساب خود خارج شوید؟</p>
						<button type="submit" class="btn btn-danger">خارج شدن</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}