{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
تغییر رمز عبور
{% endblock title %}


{% block content %}
<!-- Loader -->
<div id="global-loader">
	<img src="{% static 'dashboard/assets/img/loader.svg' %}" class="loader-img" alt="Loader">
</div>
<!-- End Loader -->


<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		{% include 'account/_messages.html' %}
		{% include 'account/_non_field_errors.html' %}
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					<h1>{% if token_fail %}لینک نامعتبر{% else %}تغییر رمز عبور{% endif %}</h1>
					{% if token_fail %}
						{% url 'account_reset_password' as passwd_reset_url %}
						<p>لینک فراموشی رمز عبور نامعتبر است. ممکن است این لینک قبلا استفاده شده باشد.
							در صورت تمایل می‌توانید درخواست جدید فراموشی رمز عبور را از طریق این <a href="{{ passwd_reset_url }}">لینک</a> دهید.
						</p>
					{% else %}
						<form method="POST" action="{{ action_url }}">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" name="action" value="تغییر رمز عبور"/>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}