{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
تعیین رمز عبور
{% endblock title %}


{% block content %}
<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		{% include 'account/_messages.html' %}
		{% include 'account/_non_field_errors.html' %}
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					<h1>تعیین رمز عبور</h1>
					<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" name="action" value="تعیین رمز عبور"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}