{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
بسته شدن ثبت نام
{% endblock title %}


{% block content %}
<!-- Loader -->
<div id="global-loader">
	<img src="{% static 'dashboard/assets/img/loader.svg' %}" class="loader-img" alt="Loader">
</div>
<!-- End Loader -->


<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		{% include 'account/_messages.html' %}
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					<h1>بسته شدن ثبت نام</h1>
					<p>ما واقعا متاسفیم اما ثبت نام در حال حاضر بسته است.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}