{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
تاییدیه ایمیل
{% endblock title %}


{% block content %}
<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					{% include 'account/_messages.html' %}
					<h1>لطفا آدرس ایمیل خود را تایید فرمایید.</h1>
					<p>ایمیل تاییدیه را به آدرس بالا فرستادیم لطفا ایمیل خود را تایید کنید
						تا فرآیند ثبت نام شما را کامل کنیم. اگر ایمیلی از طرف ما 
						به دستتان نرسیده است تا چند دقیقه دیگر با ما تماس بگیرید.
					</p>
					<a href="{% url 'home:index' %}">خانه</a>
					<a href="{% url 'account_login' %}"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}