{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
تایید کردن ایمیل
{% endblock title %}


{% block content %}
<!-- Page -->
<div class="page main-signin-wrapper">

	<!-- Row -->
	<div class="row signpages text-center">
		<div class="col-md-12">
			<div class="card">
				<div class="row row-sm">
					<h1>ایمیل خود را تایید کنید</h1>
					<p>این بخش از سایت از ما می‌خواهد تا تأیید کنیم که شما همان کسی هستید که ادعا می‌کنید هستید.
						برای این منظور، ما از شما می خواهیم که مالکیت آدرس ایمیل خود را تأیید کنید.</p>
					<p>ما ایمیل تاییدیه را برای شما ارسال کردیم. لطفا روی لینک درون ایمیل کلیک کنید.
						اگر ایمیل تاییدیه را در اینباکس خود نمی‌بینید لطفا پوشه اسپم را نیز چک کنید.
						در صورتی که ایمیل تاییدیه را دریافت نکرده‌اید با ما تماس بگیرید تا کمکتان کنیم.
					</p>

					<p>.یادداشت: شما همچنان می‌توانید <a href="{{ email_url }}">آدرس ایمیلتان</a> را تغییر دهید.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}