{% load static %}

<!-- Sidemenu -->
<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="index.html">
            <img src="{% static 'dashboard/assets/img/logo/long.png' %}" class="header-brand-img desktop-logo" alt="لوگو" style="width: 134px;height: 37px">
            <img src="{% static 'dashboard/assets/img/logo/ico.png' %}" class="header-brand-img icon-logo" alt="لوگو" style="width: 45px;height: 45px">
            <img src="{% static 'dashboard/assets/img/logo/lco.png' %}" class="header-brand-img desktop-logo theme-logo" alt="لوگو">
            <img src="{% static 'dashboard/assets/img/logo/ico.png' %}" class="header-brand-img icon-logo theme-logo" alt="لوگو">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class="fa fa-home sidemenu-icon"></i>
                    <span class="sidemenu-label">خانه</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class="fas fa-user-shield sidemenu-icon"></i>
                    <span class="sidemenu-label">مدیریت</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">مدیر ها</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">نقش ها</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class="fas fa-clipboard-list sidemenu-icon"></i>
                    <span class="sidemenu-label">دسته بندی ها</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#category-index">دسته بندی</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class="fas fa-users sidemenu-icon"></i>
                    <span class="sidemenu-label">مدیریت کاربران</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#users-index">کاربران</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class="fas fa-cogs sidemenu-icon"></i>
                    <span class="sidemenu-label">تنظیمات</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    {% for setting_type, setting in settings.items %}
                        {% if setting.type == 'general' %}
                        <li class="nav-sub-item">
                            <a class="nav-sub-link" href="{% url 'home:website-setting' setting.slug %}">{{setting.name}}</a>
                        </li>
                        {% elif setting.type == 'aboutus' %}
                        <li class="nav-sub-item">
                            <a class="nav-sub-link" href="{% url 'home:aboutus-setting' setting.slug %}">{{setting.name}}</a>
                        </li>
                        {% elif setting.type == 'contactus' %}
                        <li class="nav-sub-item">
                            <a class="nav-sub-link" href="{% url 'home:contactus-setting' setting.slug %}">{{setting.name}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link" href="#logout-link">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <button class=" btn btn-danger logout mt-3"
                            style="width: 100%">
                        خروج
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Sidemenu -->